body {
    text-align: center;
    margin: 0;
}


.changePasswordTable {
    margin: auto;
    text-align: left;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    background-color: lightgray;
    min-height: 100vh;
    width: auto;
}

.createReminderForm {
    margin: auto;
    text-align: left;
}

.footer {
    background-color: darkgray;
    width: 100%;
    height: 40px;
}

.header {
    background-color: darkgray;
    width: 100%;
    height: 50px;
}

.loginForm {
    margin: 5em auto auto;
    text-align: left;
}

.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
.box {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.profile {
    float: right;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.profilePopup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0; 
}

.profileBox{
    float: right;
    position: relative;
    width: 100px;
    max-height: 70vh;
    margin-top: 50px;
    background: #fff;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.profileBoxItems {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reminder {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 5px;
    width: 400px;
    margin: 10px auto;
  }

.reminderDetailTable {
    text-align: left;
    margin: auto 50px
}

.reminderTitle {
    margin: 0;
    padding: 20px;
}
