body {
    text-align: center;
}

.reminder {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 5px;
    width: 400px;
    margin: 10px auto;
  }

.createReminderForm {
    margin: auto;
    text-align: left;
}